<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/projects.html">Projects</a>
  </nav>

  <article class="post">
    <h1>{{ page.title }}</h1>
    <small>📅 {{ page.date | date: "%Y-%m-%d" }}</small>

    {{ content }}
  </article>
</body>
</html>
