<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% include header.html %}

  <article class="post">
    <h1 style="border-bottom: 1px solid #d9d2c6; padding-bottom: 10px;">{{ page.title }}</h1>
    <small>{{ page.date | date: "%Y-%m-%d" }}</small>

    {{ content }}
  </article>
</body>
</html>
